#Ignore raw image dataset
data/pexels-110k-512p-min-jpg/
outputs/generated
outputs/checkpoints
*.pyc
__pycache__/
venv/
# Ignore massive image/data folders
data/filtered_images/
data/pexels-110k-512p-min-jpg/
*.zip

# Optional: ignore generated metadata (you can recreate it)
data/filtered_mood_color_dataset.csv

# Ignore BFG cleanup report
aesthetic_moodboard_generation.git.bfg-report/



# Ignore model output files and logs
outputs/
checkpoints/
*.pth

# Python junk
__pycache__/
*.pyc
*.pyo
.DS_Store

# Conda/venv environment files
.env/
.venv/
.envrc

# Jupyter temp
.ipynb_checkpoints/
